version: "3.8"

services:
  php:
    build: .
    ports:
      - "8088:80"
    depends_on:
      - db

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gestion_stock_dclic
    volumes:
      - ./db/gestion_stock_dclic.sql:/docker-entrypoint-initdb.d/gestion_stock_dclic.sql
    ports:
      - "3306:3306"
